html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  background: linear-gradient(to bottom left, #fff 0%, palevioletred 100%);
  min-height: 100vh;
}

.container {
  padding:20px
}

.input-field {
  margin:50px
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 15px;
  padding:15px;
  overflow:hidden;
}

.item-image {
  height:20vh;
}

.body2 {
  margin:auto;
}